h1 {
	font-size: 60px;
	font-family: "Source Sans Pro", sans-serif;
}

body {
	background-color: #b2bec3;
}
#grid{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50% 50%
}
#intro{
	grid-column: 2
	grid-row: 1;
}
#bio{
	grid-column: 2
	grid-row: 1;
}